body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
html, body, #map {
	height: 100%;
}

path {
	stroke: black;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill-opacity: 0;
}

path#route {
	stroke-width: 1;
	stroke-dasharray: 10,5;
}

path#best {
	stroke-width: 5;
}

circle {
	fill-opacity: .9;
}

circle#start {
	r: 7;
	fill: red;
}

circle#end {
	r: 7;
	fill: blue;
}

circle#pickup {
	r: 12;
	stroke: black;
	fill: white;
	fill-opacity: .9;
	stroke-width: 2px;
}

circle#actual {
	r: 10;
	stroke: red;
	fill: white;
	fill-opacity: .2;
	stroke-width: 2px;
	stroke-dasharray: 7,3;
}

circle:hover {
	stroke: black;
	stroke-width: 2px;
	cursor: crosshair;
}

div.tooltip{
	padding: 6px;
	background: white;
	visibility: hidden;
	position: absolute;
	z-index: 10;
}
p.tooltip-text{
	margin: 0px;
	padding: 0px;
}

p.display{
	font-size: 16px;
	font-weight: bold;
}

div.menu{
	position: fixed;
	margin: 0px;
	padding: 10px;
	top: 0px;
	right: 0px;
	width: 230px;
	height: 50px;
	background: rgba(255,255,255,.8);
}

em{
  color: red;
  font-weight: bold;
}